.email-avatar {
  display: inline-block;
  width: 3.125em;
  height: 3.125em;
  line-height: 3.125em;
  margin-right: 0.5em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 100%;
  background-color: #28558f;
  color: #cecece;
}