<div id="nav" class="pure-u"> <!-- TODO: Make a component -->
  <a href="#" class="nav-menu-button">Menu</a>

  <div class="nav-inner">
      <div class="pure-menu">
          <ul class="pure-menu-list">
              <li class="pure-menu-heading">Participants</li>
              <li class="pure-menu-item"><span class="pure-menu-link pure-menu-link-pseudo">From</span></li>
              <li class="pure-menu-item pure-menu-item-select">
                  <ng-select (change)="onFromChange($event)" [items]="participants" bindValue="id" bindLabel="email"></ng-select>
              </li>
              
              <li class="pure-menu-item"><span class="pure-menu-link pure-menu-link-pseudo">To</span></li>
              <li class="pure-menu-item pure-menu-item-select">
                  <ng-select (change)="onToChange($event)" [multiple]="true" [items]="selectedFrom?.to" bindValue="id" bindLabel="email"></ng-select>
              </li>

              <li class="pure-menu-heading">Dates</li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">From</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">To</a></li>
          </ul>
      </div>
  </div>
</div>