<div class="header">
	<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
		<a class="pure-menu-heading" href="/">Behavox</a>

		<form class="header-right pure-form">
				<input (change)="onSearchChange(search.value)" #search type="search" placeholder="Search" class="pure-input-rounded">
		</form>
	</div>
</div>
<div id="layout" class="content pure-g">
	<sidebar></sidebar>

	<div id="list" class="pure-u-1">
			<div class="list-scrollable">
					<letter-list-item 
							(select)="onItemSelect($event)"
							[selected]="selectedEmail?.id === result.id"
							[thread]="result"
							*ngFor="let result of results | paginate: { id: 'emails', itemsPerPage: 10, currentPage: eamilsPage, totalItems: emailsTotal }"></letter-list-item>
			</div>
			<div class="pagination">
					<div class="spinner" [ngClass]="{ 'hidden': !eamilsLoading }"></div>
					<pagination-controls [previousLabel]="null" [nextLabel]="null" (pageChange)="onPaginationChange($event)" id="emails"></pagination-controls>
			</div>
	</div>

	<div id="main" class="pure-u-1">
		<letter-preview *ngIf="selectedEmail" [message]="selectedEmail"></letter-preview>
	</div>
</div>
