<div class="email-content">
    <div class="email-content-header pure-g">
        <div class="pure-u-1-5">
          <letter-avatar class="email-avatar-large" [name]="message.originalItem.from"></letter-avatar>
        </div>
        <div class="pure-u-1-2">
          <h1 class="email-content-title" [innerHTML]="message.originalItem.subject | highlight: message.highlights.subject"></h1>
          <p class="email-content-subtitle">
              From: <a>{{message.originalItem.from}}</a>
              <br>
              To: <ng-container *ngFor="let to of message.originalItem.to"><a>{{to}}</a><br></ng-container>  
              <br>
              At: <span>{{message.originalItem.date | date:'medium'}}</span>
          </p>
        </div>
    </div>

    <div class="email-content-body" [innerHTML]="message.originalItem.body | highlight: message.highlights.body"></div>
</div>