<div class="email-content" [ngClass]="{'email-content-expanded': expanded}">
    <div class="email-content-header pure-g">
        <div class="email-content-header-avatar pure-u">
          <letter-avatar (click)="onAvatarClick()" class="email-avatar-large" [name]="message.originalItem.from"></letter-avatar>
        </div>
        <div (click)="onInfoClick($event)" class="email-content-header-info pure-u-1-1">
          <h1 class="email-content-title" [innerHTML]="message.originalItem.subject || '&nbsp;' | highlight: message.highlights.subject"></h1>
          <p class="email-content-subtitle">
              From: <a [attr.data-from]="message.originalItem.from" class="link-from">{{message.originalItem.from}}</a>
              To: <span class="email-content-to">
                    <ng-container *ngFor="let to of message.originalItem.to; last as isLast">
						<a [attr.data-to]="to" class="link-to">{{to}}</a>
                    	<ng-container *ngIf="!isLast">,&nbsp;</ng-container>
                    </ng-container>
                </span>  
              <br>
              At: <span>{{message.originalItem.date | date:'medium'}}</span>
          </p>
        </div>
    </div>

    <div class="email-content-body">
        <ng-container *ngFor="let part of message.originalItem.bodyParts; first as isFirst; last as isLast; index as i">
            <div class="email-body-part" [innerHTML]="part | highlight: message.highlights.bodyParts && message.highlights.bodyParts[i]"></div>
            <input *ngIf="!isLast" type="checkbox" [id]="message.originalItem.id + 'toggle' + i" checked hidden>
            <label *ngIf="!isLast" [for]="message.originalItem.id + 'toggle' + i" class="email-body-part-splitter">
                <div class="ellipsis"></div>
            </label>
        </ng-container>
    </div>
</div>