<div class="email-content" [ngClass]="{'email-content-expanded': expanded}">
    <div (click)="onHeaderClick()" class="email-content-header pure-g">
        <div class="pure-u-1-5">
          <letter-avatar class="email-avatar-large" [name]="message.originalItem.from"></letter-avatar>
        </div>
        <div class="pure-u-4-5">
          <h1 class="email-content-title" [innerHTML]="message.originalItem.subject | highlight: message.highlights.subject"></h1>
          <h3 *ngIf="!message.originalItem.subject" class="email-content-preview">{{message.originalItem.body.slice(0, 200)}}...</h3>
          <p class="email-content-subtitle">
              From: <a>{{message.originalItem.from}}</a>
              <br>
              To: <span><a *ngFor="let to of message.originalItem.to">{{to}}</a></span>  
              <br>
              at <span>{{message.originalItem.date | date:'full'}}</span>
          </p>
        </div>
    </div>

    <div class="email-content-body" [innerHTML]="message.originalItem.body | highlight: message.highlights.body"></div>
</div>