/* Email Content Styles */
.email-content-header, .email-content-body, .email-content-footer {
  padding: 1em 2em;
}

.email-content-body {
  display: none;
}

  .email-body-part {
    white-space: pre-wrap
  }

  .email-body-part-splitter + .email-body-part {
    margin-top: 0.5em;
    padding-left: 0.5em;
  }

    .email-body-part-splitter {
      cursor: pointer;
      display: inline-block;
      background-color: #e8eaed;
      border: none;
      border-radius: 5.5px;
      width: 24px;
      margin-top: 0.5em;

    .email-body-part-splitter:hover {
      background-color: #dadce0;
    }

      .ellipsis {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
        background-image: url('./../../../../assets/more_horiz_black_20dp.png');
        height: 11px;
        width: 24px;
        opacity: .54;
      }
    }

    input[type=checkbox]:checked ~ .email-body-part-splitter ~ .email-body-part,
    input[type=checkbox]:checked ~ .email-body-part-splitter:not(:first-of-type) { 
      display: none;
    }

    input[type=checkbox]:not(:checked) ~ .email-body-part-splitter.email-body-part-splitter { 
      display: block;
    }



.email-content-expanded {
  .email-content-body {
    display: block;
  }

  .email-content-header {
    border-bottom: none;
    padding: 1em 2em 2em 2em;
  }
  
  .email-content-title {
    font-size: 2em;
  }

  .email-content-subtitle {
    font-size: 1em;
  }

  .email-content-header-avatar {
    top: 1em;
    left: 2em;
  }

    ::ng-deep .email-avatar {
      width: 6.25rem;
      height: 6.25rem;
      line-height: 6.25rem;
      font-size: 2rem;
    }

  .email-content-header-info {
    padding-left: 7.25rem;
  }
}

  .email-content-header {
    position: relative;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

    .email-content-header-avatar {
      position: absolute;
      top: 1em;
      left: 2em;
    }

    ::ng-deep .email-avatar {
      cursor: pointer;
    }

    .email-content-header-info {
      padding-left: 4em;
    }

      .email-content-title {
        font-size: 1em;
        margin: 0;
      }
      .email-content-preview {
        margin: 0;
      }
      .email-content-subtitle {
        font-size: 0.75em;
        margin: 0;
        font-weight: normal;

        .email-content-to {
          word-break: break-all;
        }

        span {
          color: #999;
        }

        .link-to {
          cursor: pointer;
        }

        .link-to:hover {
          text-decoration: underline;
        }
      }
